<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>17/05/11 10:33:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CitizenLookupTestNGScript.testCitizenLookupWithValidDetail()[pri:1, instance:com.ssm.testng.CitizenLookupTestNGScript@239963d8]">testCitizenLookupWithValidDetail</td> 
  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>17/05/11 10:33:43</td>   <td>947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CitizenLookupTestNGScript.testCitizenLookupWithInValidDetail()[pri:2, instance:com.ssm.testng.CitizenLookupTestNGScript@239963d8]">testCitizenLookupWithInValidDetail</td> 
  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>17/05/11 10:33:43</td>   <td>1108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CitizenLookupTestNGScript.testCitizenLookupWithNullValue()[pri:3, instance:com.ssm.testng.CitizenLookupTestNGScript@239963d8]">testCitizenLookupWithNullValue</td> 
  <td>main@989938643</td>   <td></td> </tr>
</table>
